p{color: purple;
    font-family: 'Bebas Neue', cursive;
}
div {
    width: 25%;
    height: 150px;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

عادي اقفل ذا؟
ضروري نقفل الvsc ونفتحه